*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;

}
body{
	background-image: url(iphone-lightning-connector-technology-reflection-56904.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size:1350px 1780px;
	
}
.container{
	width: 100%;
	height: 100%;
	
}
.menu ul{
	display: inline-flex;
	list-style: none;
}
.menu ul li{
	margin:50px 40px;
	color:#F0FFFF;
	cursor: pointer;
	

}
.logo img{
	width: 60px;
	margin-top: -22px;
	margin-left: 48px;

}
.signup-btn{
	top: 40px;
	right: 80px;
	color: #fff;
	text-decoration: none;;
	position: absolute;
	border: 2px solid transparent;
	border-radius: 20px;
	background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#fd00da,#19d7f8);
	background-origin: border-box;
	background-clip: content-box,border-box;

}
.signup-btn span{
	display: block;
	padding: 8px 22px;
}
.baner{
	width:80%;
	height:70;
	top: 25%;
	left:50px;
	color: #fff;
	position: absolute;

}
.app-text{
	width: 50%;
	float: left;
}
.app-text h1{
	font-size: 43px;
	width: 640px;
	position: relative;
	margin-left: 40px;s


}
.app-text p{
	width:650px; 
	font-size:15px;
	margin:30px 0 30px 40px;
	line-height:25px;
	color:#919191;
}